<h1 class="text-center">Search for a course    <%= link_to 'Back', :back ,class: 'btn btn-info'%></h1>

  </br>
  </br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:create, url: search_path, remote: true,method:'post') do |f| %>

          <%= f.label :subject %>
        </br>
          <%= f.collection_select :subject, Subject.order(:id),:id,:name, {include_blank: true}, {onchange: "search_subject(#{:value});",class: 'form-control',id:'search-subject'} %>
        </br>
          <%= f.label :course %>
          <%= f.text_field :course, class: 'form-control',id:'search-course',oninput: "search_course(#{:value});" ,onchange:"clear_text()"%>

        </br>

        <% end %>

      </div>
    </div>

    <h3> Results: </h3>
    <div id="results">

    </div>
