<h1 class="text-center">Instructors</h1>
<%= link_to 'Back',:back ,class: 'btn btn-info'%>

</br>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Middle</th>
      <th>Last</th>
      <th>First</th>
      <th>Email</th>
      <th>Idnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.middle %></td>
        <td><%= instructor.last %></td>
        <td><%= instructor.first %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.idnum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
